/* main.css */
.register form, .login form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5em;
  }
  
  .register label, .login label {
    margin: 1vw 0;
  }
  
  .register input, .login input {
    padding: .5vw;
    margin: 1vw 0;
  }
  
  .register button, .login button {
    padding: .5vw;
    margin: 1vw 0;
    border: none;
    background-color: #212121;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .register button:hover, .login button:hover {
    background-color: #ce8525;
  }
  
  .register p, .login p {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
  }
  